* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}
.logo{
    font-size: 35px;
    float: left;
    color: brown;
    font-weight: 600;
    margin-left: 5px;

}
#menu{
    height: 30px;
    width: 30px;
    display: none;
}
#close{
    display: none;
}

h1{
    font-size: 2.5rem;
    height: 40px;
    font-weight: 700;
    color: brown;
    text-align: center;
    margin-bottom: 35px;
}

.nav{
    background-color:none;
    height:70px;
    width:100%;
    display:flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 20opx;
}

.list li{
    list-style-type: none;
    display: inline-block;
}
.list li a{
    text-decoration: none;
    padding: 20px;
    transition: 0.3s ease;

}
nav logo {
    margin-left: 20px;
    padding: 20px;
}
.list li a:hover{
    color:rgba(255, 0, 0, 0.514) ;
    font-size: 28px;
}
main {
    margin-top: 40px;
}
    
.hero {
background-color: #d5d3d3;
padding: 100px;
text-align: center;
color: #333;
}

.hero h1 {
font-size: 3rem;
margin-bottom: 20px;
}

.hero p {
font-size: 1.5rem;
line-height: 2;
margin-bottom: 20px;
}

.features {
background-color: #ffffff;
padding: 50px;
text-align: center;
color: #333;
}

.features h2 {
font-size: 2rem;
margin-bottom: 20px;
color:brown;
}
.active {
	color:rgba(255, 0, 0, 0.514) ;
    font-size: 28px;
}

.features ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
margin-top: 20px;
}

.features li {
margin: 10px;
padding: 10px 20px;
background-color: #00A0F0;
color: #fff;
border-radius: 5px;
}

.future-scope {
background-color: #d5d3d3;
padding: 100px;
text-align: center;
color: #333;
}

.future-scope h2 {
font-size: 2rem;
margin-bottom: 20px;
color: brown;
}

.future-scope p {
font-size: 1.5rem;
line-height: 2;
margin-bottom: 20px;
}

/* Footer Styles */
footer {
background-color: #333;
padding: 20px;
text-align: center;
color: #fff;
}
.hover-text:hover::before {
    content: "We will be back soon";
    display: inline-block;
    position: absolute;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    top: 20px;
    left: 0;
  }
@media (max-width:700px){
    .nav {
        background-color: none;
        height: 70px;
        width: 100%;
        display: inline-block;
        align-items: center;
        /* position: absolute; */
        font-size: 15px;
        /* margin-left: 15px; */
        flex-wrap: wrap;
        /* margin-bottom: 15px; */
        margin-top: 15px;
    }
    .list li a{
        text-decoration: none;
        padding: 20px;
        transition: 0.3s ease;
        flex-direction: row;
    
    }
    .hyd{
        border: 15px saddlebrown;
    }
    .list li a:hover{
        color:rgba(255, 0, 0, 0.514) ;
        font-size: 22px;
    }
    .logo{
        font-size: 28px;
        color: brown;
        font-weight: 450;
        padding: 15px;
        margin-bottom: 20px;
        
    
    }
    nav a.active {
        color:rgba(255, 0, 0, 0.514) ;
        font-size: 18px;
    }
    #menu{
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        float: right;
        display: initial;
        position: absolute;
        padding: 20px;
        cursor: pointer;
    }
    #close{
        display: initial;
        font-size: 1.6rem;
        padding: 30px 0 10px 20px;
        cursor: pointer;
    }
    .nav ul {
        background-color: transparent;
        border: 1px solid black;
        flex-direction: column;
        justify-content: flex-start;
        backdrop-filter: blur(4px);
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 0;
        right: -180px;
        width: 180px;
        height: 100vh;
        transition: 0.4s ease;
        
    }
    .nav ul li{
        padding: 20px 0 20px 10px;
        margin-left: 0;
    }
    .nav ul.activer{
        right:0 ;
    }
    .hero {
        background-color: #d5d3d3;
        padding: 30px;
        text-align: center;
        color: #333;
    }
        
    .hero h1 {
        font-size: 2rem;
        margin-bottom: 10px;
        margin-top: 28px;
        padding: 20px;
    }
        
    .hero p {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 20px;
    }
        
    .features {
        background-color: #ffffff;
        padding: 40px;
        text-align: center;
        color: #333;
    }
    .future-scope {
        background-color: #d5d3d3;
        padding: 30px;
        text-align: center;
        color: #333;
    }
        
    .future-scope h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: brown;
    }
        
    .future-scope p {
        font-size: 1.5rem;
        line-height: 2;
        margin-bottom: 20px;
    }
}